
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    
}
.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}
.login-title{
    color:white;
    font-weight: bolder;

    
}
.form-label{
    display: block;
    text-align: left;
    color:white;
   

}

.form-input{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;

}
#date-form{
    background-color: #C4B7A6;
}
.form{
    background-color: #C4B7A6;
}

.btn-submit{
    border-radius: 8px;
    color: white;
    background-color: green;
    padding: 10px 23px;
    border: none;
    margin-bottom: 15px;
   
}
.btn-close-popup{
    border-radius: 8px;
    padding: 10px 23px;
    color: white;
    background-color: red;
    border: none;
    
}
.login-form-container{
    display: flex;
    flex-direction: column;
}
.overlay-container.show{
    display: flex;
    opacity:1 ;
}

#rsvbtn{
    background-color:#739E3F ;
    color: whitesmoke;
    
}
#loginbtn{
    background-color: #0072B5;
    color: whitesmoke;
}
/* div.container-fluid{
    background-color: #C4B7A6;
} */
.parent div.container-fluid {
    background-color: #C4B7A6;
   
}
.firstImg{
    width: 100%;
}

.firstImg{
    object-fit: cover;
    width: 100%;
    height: 500px;
} 
.carousel-item{
    object-fit: cover;
    width: 100%;
    height: 700px;
   
}
footer {
    background-color:#C4B7A6;
}